<html>
        {% include 'head.html' %}

    <body>
        {% include 'navbar.html' %}

        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-2 author-letters card sticky-top" >
                    	<h5 style="margin-top: 50px">All Authors Initials</h5>
                        <div class="letters">
                            <!-- <p>a</p>
                            <p>b</p>
                            <p>c</p>
                            <p>d</p> -->
                            <a href="/author_all/a">a</a><br>
                            <a href="/author_all/b">b</a>
                        </div>
                    </div>
                    <div class="col-lg-10 author-info">
                        <h2 style="margin-left: 0px; margin-top: 50px">All Authors page</h2>
        				<hr>

                        {% for author in authors %} 
                        <div class="card bg-light text-dark" style="margin-top:10px;">
                            <div class="info" style="padding: 20px;">
                                <a href="/author/{{ author[0] }}"> {{ author[1] }} </a>
                            </div>
                        </div>    
				        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        
    </body>
</html>