<html>
        {% include 'head.html' %}

    <body>
        {% include 'navbar.html' %}



        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-2 author-letters">
                    	<h4 style="margin-top: 50px">All Authors Initials</h4>
                        <div class="letters">
                            <p>a</p>
                            <p>b</p>
                            <p>c</p>
                            <p>d</p>
                        </div>
                    </div>
                    <div class="col-lg-10 author-info">
                        <h1>All Authors page</h1>
        				<hr>

                        {% for author in authors %} 
				            <p>{{ author }}</p>
				            <a href="/author/{{ author[1] }}">click here for author page</a>
				        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        
    </body>
</html>