<html>
    <head>
        {% include 'head.html' %}
    </head>
    <body>
        {% include 'navbar.html' %}
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 author-info offset-lg-1" style="padding-left: 60px;">
                        <h2 style="margin-left: 0px; margin-top: 50px; margin-left: -20px;">{{author[1]}}</h2>
                        <br><br>

                        {% if auth_field|length!=0 %}
                        <!-- Author Field of Study -->
                        <h4> Field of Study </h4>
                        <p style="margin-left: 50px;">
                            {% for field in auth_field %} 
                                    <a href="/fos/{{ field[0] }}">{{ field[1] }} </a>
                            {% endfor %}
                        </p>
                        <hr>
                        {%endif%}

                        {% if auth_conference|length!=0 %}
                        <!-- Authors Conferences -->
                        <h4> Conferences </h4>
                        <p class="author-names" style="margin-left: 50px;">
                            {% for conf in auth_conference %}
                                   <li> <a href="/conference/{{ conf[0] }}"> {{ conf[1] }}-{{conf[2]}}</a>   
                            {% endfor %}
                        </p>
                        <hr><hr>
                        {%endif%}

                        {% if auth_papers|length!=0 %}
                        <!-- Author Papers -->
                        <h4> Papers </h4>
                        {% for paper in auth_papers %}
                                <li><a href="/paper/{{ paper[0] }}"> {{ paper[1] }} </a>
                        {% endfor %}
                        <hr>
                        {% endif %}
                        
                        {% if auth_coauth|length!=0 %}
                        <!-- Author Co Authors -->
                        <h4> Co-Authors </h4>
                        {% for coauth in auth_coauth %} 
                                <li><a href="/author/{{ coauth[0] }}"> {{ coauth[1] }} </a>
                        {% endfor %}
                        <hr>    
                        {%endif%}
                        <div id="myDiv"></div>
                    </div>
                    <div class="colg-lg-5" style="margin-top:100px">
                        <div id="paper-year"></div>

                        <div id="cite-year"></div>
                    </div>
                </div>
            </div>
        </section>



        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script>
            function stringArr(string){
                var len = string.length;
                var l = string.substring(1, len-1).split(",").map(Number);
                return l;
            }
        </script>

        <script>
            // console.log("{{ x }}");
            // console.log("{{ y }}")
            var data = [
                {
                    x: stringArr("{{ author_paper_count_years }}"),
                    y: stringArr("{{ author_paper_count_c }}"),
                    marker: {
                        color : []
                    } ,
                    type: 'bar'
                
                }
            ];

            data[0].marker.color = data[0].x.map(function (v) {
                return  '#00AAFF'
            });


            var layout = {
                width: 500,
                height: 500,
                title: {
                    text:'Papers published over the years',
                    font: {
                    family: 'Courier New, monospace',
                    size: 18
                    },
                    xref: 'paper',
                },
                xaxis: {
                    title: {
                    text: 'Year',
                    font: {
                        family: 'Courier New, monospace',
                        size: 18,
                        color: '#7f7f7f'
                    }
                    },
                },
                yaxis: {
                    title: {
                    text: 'Paper count',
                    font: {
                        family: 'Courier New, monospace',
                        size: 18,
                        color: '#7f7f7f'
                    },
                    dtick: 1
                    }
                }
            };


            var l = stringArr("{{ x }}")
            console.log(l);
            Plotly.newPlot('paper-year', data, layout, {showSendToCloud: true});
        </script>



        <script>
            // console.log("{{ x }}");
            // console.log("{{ y }}")
            var data = [
                {
                    x: stringArr("{{ author_cite_count_years }}"),
                    y: stringArr("{{ author_cite_count_c }}"),
                    marker: {
                        color : []
                    } ,
                    type: 'bar'
                
                }
            ];

            data[0].marker.color = data[0].x.map(function (v) {
                return  '#00AAFF' 
            });


            var layout = {
                width: 500,
                height: 500,
                title: {
                    text:'Author Citation distribution over the years',
                    font: {
                    family: 'Courier New, monospace',
                    size: 18
                    },
                    xref: 'paper',
                },
                xaxis: {
                    title: {
                    text: 'Year',
                    font: {
                        family: 'Courier New, monospace',
                        size: 18,
                        color: '#7f7f7f'
                    }
                    },
                },
                yaxis: {
                    title: {
                    text: 'Citation count',
                    font: {
                        family: 'Courier New, monospace',
                        size: 18,
                        color: '#7f7f7f'
                    },
                    dtick: 1
                    }
                }
            };


            var l = stringArr("{{ x }}")
            console.log(l);
            Plotly.newPlot('cite-year', data, layout, {showSendToCloud: true});
        </script>
                


        <br>
        {% include 'footerbar.html' %}
    </body>
</html>