<html>
    <head>
            <!-- CSS concatenated and minified via ant build script-->
            <!-- <link rel="stylesheet" href= "{{ url_for('static',filename='reset.css') }}" ">
            <link rel="stylesheet" href= "{{ url_for('static',filename='bootstrap.min.css') }}" >
            <link rel="stylesheet" href= "{{ url_for('static',filename='style.css') }}">
            
          
            <script href="{{ url_for('static',filename='modernizr-2.0.6.min.js') }}"></script> -->

    </head>
    <body>
        {% include 'navbar.html' %}

    </body>

</html>