<html>
    <head>
        {% include 'head.html' %}
    </head>
    <body>
        {% include 'navbar.html' %}
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 author-info offset-lg-1" style="padding-left: 60px;">
                        <h2 style="margin-left: 0px; margin-top: 50px; margin-left: -20px;">{{conf[1]}} - {{conf[2]}}</h2>
                        <br><br>
                        <div>
                            <h4>Overall {{conf[1]}} Statistics</h4>
                                <p style="margin-left: 50px;"> Number of Accepted Papers - {{ main_paper_count }} &nbsp;&nbsp;&nbsp;&nbsp; Number of Authors - {{ main_author_count }}
                                </p>       
                        </div>
                        <hr>

                        <div>
                            <h4>{{conf[2]}} Statistics</h4>
                                <p style="margin-left: 50px;"> Number of Accepted Papers - {{ no_papers }} &nbsp;&nbsp;&nbsp;&nbsp; Number of Authors - {{ no_authors }}
                                </p>       
                        </div>
                        <hr>

                        {% if fos|length!=0 %}
                        <div>
                            <h4>Field Of Study</h4> 
                            <p style="margin-left: 50px;"> 
                            {% for f in fos %}
                                <a href="/fos/{{ f[0] }}">{{ f[1] }}</a>   
                            {% endfor %}
                            </p>
                        </div>
                        <hr>
                        {% endif %}

                        
                        
                        <!-- {% if conferences|length!=0 %}
                        <div>
                            <h4>Conference(s)</h4>
                            <p style="margin-left: 50px;"> 
                            {% for conference in conferences %}
                                <a href="/conference/{{ conference[0] }}">{{ conference[1] }}-{{ conference[2]}}</a> ,
                            {% endfor %}
                        </div>
                        <hr>
                        {% endif %} -->


                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#home">Author(s)</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#menu1">Paper(s)</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="home" class="container tab-pane active" style="margin-left: 0px"><br>
                                <ol>
                                {% for reference in authors %}
                                    <li style="margin-left: -15px;"><a href="/author/{{ reference[0] }}">{{ reference[1] }}</a></li>
                                {% endfor %}
                                </ol>
                            </div>
                            <div id="menu1" class="container tab-pane fade" style="margin-left: 0px"><br>
                                <ol>
                                {% for paper in papers %}
                                    <li style="margin-left: -15px;"><a href="/paper/{{ paper[0] }}">{{ paper[1] }}</a></li>
                                {% endfor %}
                                </ol>
                            </div>
                        </div>

                        
                        <!-- <div id="myDiv"></div>  -->

                    </div>
                    <div class="col-lg-5" style="margin-top: 100px;">
                         <div id="paper-year"></div> 


                         <div id="cite-year"></div> 
                    </div>
                </div>
            </div>
        </section>



        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script>
            function stringArr(string){
                var len = string.length;
                var l = string.substring(1, len-1).split(",").map(Number);
                return l;
            }
        </script>

        <script>
            // console.log("{{ x }}");
            // console.log("{{ y }}")
            var data = [
                {
                    x: stringArr("{{ conf_paper_count_years }}"),
                    y: stringArr("{{ conf_paper_count_c }}"),
                    marker: {
                        color : []
                    } ,
                    type: 'bar'
                   
                }
            ];

            data[0].marker.color = data[0].x.map(function (v) {
                return v == Number("{{ conf[2] }}") ? '#FFD500' : '#00AAFF'
            });


            var layout = {
                width: 500,
                height: 500,
                title: {
                    text:'Paper distribution over the years',
                    font: {
                    family: 'Courier New, monospace',
                    size: 20
                    },
                    xref: 'paper',
                },
                xaxis: {
                    title: {
                    text: 'Year',
                    font: {
                        family: 'Courier New, monospace',
                        size: 18,
                        color: '#7f7f7f'
                    }
                    },
                },
                yaxis: {
                    title: {
                    text: 'Paper count',
                    font: {
                        family: 'Courier New, monospace',
                        size: 18,
                        color: '#7f7f7f'
                    }
                    }
                }
            };


            var l = stringArr("{{ x }}")
            console.log(l);
            Plotly.newPlot('paper-year', data, layout, {showSendToCloud: true});
        </script>



<script>
        // console.log("{{ x }}");
        // console.log("{{ y }}")
        var data = [
            {
                x: stringArr("{{ conf_cite_count_years }}"),
                y: stringArr("{{ conf_cite_count_c }}"),
                marker: {
                    color : []
                } ,
                type: 'bar'
               
            }
        ];

        data[0].marker.color = data[0].x.map(function (v) {
            return v == Number("{{ conf[2] }}") ? '#FFD500' : '#00AAFF'
        });


        var layout = {
            width: 500,
            height: 500,
            title: {
                text:'Citation distribution over the years',
                font: {
                family: 'Courier New, monospace',
                size: 20
                },
                xref: 'paper',
            },
            xaxis: {
                title: {
                text: 'Year',
                font: {
                    family: 'Courier New, monospace',
                    size: 18,
                    color: '#7f7f7f'
                }
                },
            },
            yaxis: {
                title: {
                text: 'Citation count',
                font: {
                    family: 'Courier New, monospace',
                    size: 18,
                    color: '#7f7f7f'
                }
                }
            }
        };


        var l = stringArr("{{ x }}")
        console.log(l);
        Plotly.newPlot('cite-year', data, layout, {showSendToCloud: true});
    </script>

        <br>
        {% include 'footerbar.html' %}
    </body>
</html>