<html>
	{% include 'head.html' %}
	
    <body>

        {% include 'navbar.html' %}

        <section>
            <div class="container-fluid">
                <div class="row">
                    <!-- <div class="col-lg-2 author-letters card sticky-top" >
                    	<h5 style="margin-top: 50px">All Conference Options</h5>
                        <div class="links-auth">
                            <p>All Conference Option 1 </p>
                            <p>All Conference Option 2 </p>
                        </div> -->
                    </div>
                    <div class="col-lg-10 offset-lg-1 author-info">
                        <h2 style="margin-left: 0px; margin-top: 50px">Fields of Study</h2>

                        <!-- <input type="text" id="myInput1" onkeyup="myFunction1()" placeholder="Search by Conference..." title="Type in a name" style="padding:10px; width:300px; ">
                        <input type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Search by Year..." title="Type in a name" style="padding:10px; width:300px; ">
        				<hr> -->

                        {% for fos in fos_list %} 
                        {% if fos[0] == fos_id %}
                        <a href="/fos/{{ fos[0] }}"><button type="button" class="btn btn-light active" style="padding: 10px; margin-top:10px;">{{ fos[1] }}</button></a>
                        {% else %}
                        <a href="/fos/{{ fos[0] }}"><button type="button" class="btn btn-light" style="padding: 10px; margin-top:10px;">{{ fos[1] }}</button></a>
                        {% endif %}
                        {% endfor %}
                        <hr>

                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#home">Papers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#menu1">Authors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#menu2">Conferences</a>
                            </li>
                        </ul>


                        <div class="tab-content">
                            <div id="home" class="container tab-pane active" style="margin-left: 0px"><br>
                                <input type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Search by Paper..." title="Type in a name" style="padding:10px; width:300px; margin-bottom: 20px;">
                                {% for paper in papers %} 
                                    <div class="info papers" style="padding: 5px;">
                                        <a href="/paper/{{ paper[0] }}">{{ paper[1] }}</a>
                                        <br>  
                                    </div>
                                {% endfor %}
                            </div>
                            <div id="menu1" class="container tab-pane fade" style="margin-left: 0px"><br>
                                <input type="text" id="myInput1" onkeyup="myFunction1()" placeholder="Search by Author..." title="Type in a name" style="padding:10px; width:300px; margin-bottom: 20px;">
                                {% for author in authors %} 
                                    <div class="info authors" style="padding: 5px;">
                                        <a href="/author/{{ author[0] }}">{{ author[1] }}</a>
                                        <br>  
                                    </div>
                                {% endfor %}
                            </div>
                            <div id="menu2" class="container tab-pane fade" style="margin-left: 0px"><br>
                                {% for conf in conferences %} 
                                    <div class="info" >
                                        <a href="/conference/{{ conf[0] }}">{{ conf[0] }}</a>
                                    </div>
                                    {% for year in conf[1] %}
                                    <a href="/conference/{{ year[1] }}"><button type="button" class="btn btn-light" style="padding: 10px; margin-top:10px;">{{ year[0] }}</button></a>
                                    {% endfor %}
                                    <br>  
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    <br>
    {% include 'footerbar.html' %}
    </body>



        <script>
            function myFunction1() {
                var input, filter, conference_boxes;
                input = document.getElementById("myInput1");
                filter = input.value.toUpperCase();
                author_boxes = document.getElementsByClassName("authors")
                // console.log(author_boxes);
                for (i = 0; i < author_boxes.length; i++) {
                    t = author_boxes[i];
                    txtValue = t.textContent || t.innerText;
                    console.log("a");
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        t.style.display = "";
                    } 
                    else {
                        t.style.display = "none";
                    }    
                }
            }
        </script>


        <script>
            function myFunction2() {
                var input, filter, conference_boxes;
                input = document.getElementById("myInput2");
                filter = input.value.toUpperCase();
                author_boxes = document.getElementsByClassName("papers")
                // console.log(author_boxes);
                for (i = 0; i < author_boxes.length; i++) {
                    t = author_boxes[i];
                    txtValue = t.textContent || t.innerText;
                    console.log("a");
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        t.style.display = "";
                    } 
                    else {
                        t.style.display = "none";
                    }    
                }
            }
        </script>
</html>