<html>
        {% include 'head.html' %}

    <body>
        {% include 'navbar.html' %}

        <section>
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-10 author-info offset-lg-1">
                        <h2 style="margin-left: 0px; margin-top: 50px">All papers</h2>
                        <hr>
                        {{ pagination.info  }}
                        {{ pagination.links }}

                        {% for paper in data_papers %} 
                            <div class="info card bg-light text-dark" style="margin-top: 10px;">
                                <p style="margin-left: 5px; margin-top: 20px">
                                <a style="padding-left: 20px" href="/paper/{{ paper[0] }}"> <b class="author-names">{{ paper[1][:] }}   </b>
                                </a>
                                {% for conference in paper[3] %}
                                <a style="align:right; margin-left: 20px;"href="/conference/{{ conference[0] }}"> {{ conference[1]}}-{{ conference[2]}}</a>
                                {% endfor %}
                                </p>

                                <p style="margin-left: 20px; margin-bottom: 5px">
                                {% for author in paper[2] %}
                                <a style="margin-left: 5px;"href="/author/{{ author[0] }}"> {{ author[1]}}.</a>
                                {% endfor %}
                                </p>


                                <p style=" margin-left: 25px; margin-bottom: 20px">Citations: {{ paper[5] }} &nbsp;&nbsp;&nbsp;&nbsp;</p>

                                


<!--                                 <p style="margin-left: 5px; margin-bottom: 15px">
                                {% for fos in paper[4] %}
                                <a class="fancy-a" style="margin-left: 10px;margin-right: 10px; padding:10px;"href="/fos/{{ fos[0] }}"> {{ fos[1]}}</a>
                                {% endfor %}
                                </p>  -->                     

                            </div> 
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

    {% include 'footerbar.html' %}
    </body>
</html>