<html>
	{% include 'head.html' %}
	
    <body>

        {% include 'navbar.html' %}

        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-2 author-letters card sticky-top" >
                    	<h5 style="margin-top: 50px">All Paper Options</h5>
                        <div class="links-auth">
                            <p>All Paper Option 1 </p>
                            <p>All Paper Option 2 </p>
                        </div>
                    </div>
                    <div class="col-lg-10 author-info">
                        <h2 style="margin-left: 0px; margin-top: 50px">All Papers Page</h2>
        				<hr>

                        {% for paper in pages %} 
                        <div class="card bg-light text-dark" style="margin-top:10px; margin-bottom: 10px">
                            <div class="info" style="margin-left: 20px; margin-top: 10px">
                                <a href="/paper/{{ paper[0] }}"> {{ paper[1] }} </a>
                            </div>
                            <div class="info" style="margin-left: 20px; margin-top: 10px; margin-bottom: 10px">
                            {% for auth in authors[paper[0]] %}
                                <a style='margin-left: 20px' href="/author/{{ auth[0] }}"> {{ auth[1] }} </a> 
                            {% endfor %}
                            </div>
                        </div>    
				        {% endfor %}
                    </div>
                </div>
            </div>
        </section>


<!--         {% for page in pages %} 
        <p>{{ page[0] }}</p> 
        {% endfor %} -->
    </body>
</html>