<html>
    <head>
        {% include 'head.html' %}
    </head>
    <body>
        {% include 'navbar.html' %}
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10 author-info offset-lg-1" style="padding-left: 60px;">
                        <h2 style="margin-left: 0px; margin-top: 50px; margin-left: -20px;">{{paper[1]}}</h2>
                        <br><br>

                        {% if authors|length!=0 %}
                        <div>
                            <h4>Author(s)</h4> 
                            <p style="margin-left: 50px;"> 
                            {% for author in authors %}
                                <a href="/author/{{ author[0] }}">{{ author[1] }}</a>  . 
                            {% endfor %}
                            </p>
                        </div>
                        <hr>
                        {% endif %}

                        
                        
                        {% if conferences|length!=0 %}
                        <div>
                            <h4>Conference(s)</h4>
                            <p style="margin-left: 50px;"> 
                            {% for conference in conferences %}
                                <a href="/conference/{{ conference[0] }}">{{ conference[1] }}-{{ conference[2]}}</a> ,
                            {% endfor %}
                        </div>
                        <hr>
                        {% endif %}


                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#home">Reference(s)</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#menu1">Cited by</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="home" class="container tab-pane active" style="margin-left: 0px"><br>
                                <ol>
                                {% for reference in references %}
                                    <li style="margin-left: -15px;"><a href="/paper/{{ reference[0] }}">{{ reference[1] }}</a></li>
                                {% endfor %}
                                </ol>
                            </div>
                            <div id="menu1" class="container tab-pane fade" style="margin-left: 0px"><br>
                                <ol>
                                {% for paper in papers_cite_this %}
                                    <li style="margin-left: -15px;"><a href="/paper/{{ paper[0] }}">{{ paper[1] }}</a></li>
                                {% endfor %}
                                </ol>
                            </div>
                        </div>

                        
                        <div id="myDiv"></div> 
                    </div>
                </div>
            </div>
        </section>



        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script>
            function stringArr(string){
                var len = string.length;
                var l = string.substring(1, len-1).split(",").map(Number);
                return l;
            }
        </script>

        <script>
            // console.log("{{ x }}");
            // console.log("{{ y }}")
            var data = [
                {
                    x: stringArr("{{ x }}"),
                    y: stringArr("{{ y }}"),
                    type: 'bar'
                }
            ];
            var l = stringArr("{{ x }}")
            console.log(l);
            Plotly.newPlot('myDiv', data, {}, {showSendToCloud: true});
        </script>

        <br>
        {% include 'footerbar.html' %}
    </body>
</html>