.search-sec{
    margin-top:50px;
    padding: 30px;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius: 5px;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
     height: calc(3rem + 2px) !important;
     border-radius:0;
}

.button { /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    height: calc(3rem + 2px) !important;
  }



.author-metadata{
    background-color: #3CAEA3;
    text-align: center;
    height: 100%;
}

.author-letters{
    background-color: #3CAEA3;
    text-align: center;
    height: 100%;
}

.author-info h1 {
    padding: 50px;
}

.author-metadata p{
    color: black;
}

.author-name-side{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 100px;
}

.links-auth{
    margin-top: 100px;
}

.letters{
    margin-top: 50px;
}
